<div class="statistic-main">

    <div class="statistic-app">
        <div class="app-content">
            
            <div class="main-content">
              
                <div class="wrap-content container">
                    
                    <section class="page-title padding-top-15 padding-bottom-15">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="mainTitle">Radiogram Monitoring</h1>
                                <span class="mainDescription">Kolat &amp; stats </span>
                            </div>
                        </div>
                    </section>

                    <div class="container-fluid container-fullw bg-white">
                        <div class="row">
                            
                            <div class="col-sm-12">
                                
                                <div class="panel panel-white">
                                    <div class="panel-heading border-light">
                                        <h4 class="panel-title">Radiogram <span class="text-bold">Data</span></h4>
                                        <div class="panel-tools">
                                            <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="icon-reload"></i></a>
                                        </div>
                                    </div>
                                    <div class="panel-body stat-list">

                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            
            </div>

        </div>
    </div>

</div>

<template id="stat-list">
    <!--
    <table class="dtk-radiogram stripe row-border order-column nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>NOMOR RADIOGRAM</th>
            <th v-for="group in groups">Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
            <th>Extn.</th>
            <th>E-mail</th>
            <th>E-mail</th>
            <th>E-mail</th>
            <th>E-mail</th>
            <th>E-mail</th>
            <th>E-mail</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="content in contents">
            <td>{{content.radiogram.Number}}</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
            <td>5421</td>
            <td>t.nixon@datatables.net</td>
            <td>t.nixon@datatables.net</td>
            <td>t.nixon@datatables.net</td>
            <td>t.nixon@datatables.net</td>
            <td>t.nixon@datatables.net</td>
            <td>t.nixon@datatables.net</td>
        </tr>
        </tbody>
    </table>
    -->
    <table class="dtk-radiogram stripe row-border order-column nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>NOMOR RADIOGRAM</th>
            <th v-for="group in groups">{{group.name}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="content in contents">
            <td valign="top">{{content.radiogram.Number}}</td>
            <td v-for="group in groups" v-html="getRadiogram(group.id, content.radiogram.id)"></td>
        </tr>
        </tbody>
    </table>
</template>